body {
	color: #3e4549;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
  color: #2790ae;
}

a:hover {
  color: #0f6780;
}

small {
  line-height: 0.75em;
}

.screenshot {
  margin: 1em 0;
}